<div class="backdrop-quest"></div>

<div class="quest-modal-container">

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        <img src="../../../assets/graphics/layout/game/quests/quest/{{ questImage }}" alt="quest image">
        <h1>{{ questTitle }}</h1>
        <i *ngIf="questStepNo">Step {{ questStepNo }}</i>
        <i *ngIf="questStepNo && questStepsCount"> of {{ questStepsCount }}.</i>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p style="white-space: pre-wrap;">{{ description }}</p>
      <hr>
      <div *ngIf="requirements" style="color:royalblue">
        <span [innerHTML]="requirements.text"></span>
        <br>
        <b [style]="requirementsMet ? 'color:green' : 'color:red'">
          {{ progress }} / {{ requirements.quantity }}
        </b>
      </div>
      <hr>
      <div *ngIf="answers">
        <div *ngFor="let answer of answers">
          <b *ngIf="!answer.meetRequirements || requirementsMet"
              (click)="questAnswer(answer.nextQuestStepID)"
              style="color:darkgreen">
            {{ answer.text }}
          </b>
        </div>
      </div>
      <div *ngIf="rewards">
        Rewards:<br>
        {{ rewards }}
      </div>

    </ion-card-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons>
          <ion-button color="success" (click)="closeQuestModal()">
            OK
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>

    <ion-button *ngIf="message" expand="full" color="warning">{{message}}</ion-button>

  </ion-card>

</div>
