<div class="backdrop"></div>
<div class="modal-container">

  <ion-card>

    <ion-card-header>
      <ion-toolbar>
        <h1>Weapon Fix</h1>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="closeModal()">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>


    <ion-card-content>

          <ng-container>

            <h2>Here you can fix your weapon.</h2>

            <div *ngIf="resourcesNeeded">
              To fix your weapon for
              {{resourcesNeeded.durabilityMin}} - {{resourcesNeeded.durabilityMax}}
              points, you need
              {{resourcesNeeded.steel}} steel,
              {{resourcesNeeded.lubricant}} lubricant,
              {{resourcesNeeded.gold}} gold.
            </div>

            <div *ngIf="resources">
              You have now
              {{resources.steel}} steel,
              {{resources.lubricant}} lubricant,
              {{resources.gold}} gold.
            </div>

            <div *ngIf="weaponList.length; else noWeaponList">
              <h3>Choose weapon to fix:</h3>
              <div *ngFor="let weapon of weaponList" class="baggage-item">
                <div
                  class="baggage-item-image"
                  style="background-image: url('../../../assets/graphics/{{ weapon.item.image }}');"
                ></div>
                <b>{{ weapon.item.name }}</b>
                <br>
                <span id="weaponFixItemDurability{{weapon.id}}">{{weapon.durability}}</span> / {{weapon.durability_max}}
                <br>
                <button (click)="fixWeapon(weapon.id)">Fix Weapon</button>
              </div>
            </div>

            <ng-template #noWeaponList>
              <h3>You have no weapon to fix.</h3>
            </ng-template>


          </ng-container>

          <ion-button *ngIf="message" expand="full" color="warning">{{message}}</ion-button>

    </ion-card-content>

  </ion-card>
</div>
