<div class="backdrop"></div>
<div class="modal-container"  id="baggage-container">

  <ion-card>

    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="closeModal()">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>


    <ion-card-content style="min-height:300px">

          <ng-container *ngFor="let baggageType of baggageTypes">
            <ng-container *ngFor="let baggageTypeChild of baggageType.children">
              <h2 *ngIf="baggageItems[baggageTypeChild.id]">{{ baggageTypeChild.name }}</h2>
              <app-baggage-item
                *ngFor="let baggageItem of baggageItems[baggageTypeChild.id] | keyvalue"
                [item]="baggageItem">
              </app-baggage-item>
            </ng-container>
          </ng-container>

    </ion-card-content>
  </ion-card>
  </div>
