<div class="backdrop"></div>
<div class="modal-container">

  <ion-card>

    <ion-card-header>
      <ion-toolbar>
        <h1>Quests</h1>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="closeModal()">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>


    <ion-card-content>

          <ng-container>
            <h2>Here will be your quests list.</h2>
          </ng-container>

          <ion-button *ngIf="message" expand="full" color="warning">{{message}}</ion-button>

    </ion-card-content>

  </ion-card>
</div>
