<ion-header>
  <ion-toolbar color="{{ isLoginMode ? 'primary' : 'primary' }}">
    <ion-title>{{ isLoginMode ? 'Login' : 'Create new account' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="registrationSuccessful" expand="full" color="success">Registration successful! You can now log in.</ion-button>
  <ion-button *ngIf="registrationUnsuccessful" expand="full" color="danger">Sorry, there was a problem creating your account...</ion-button>
  <ion-button *ngIf="error" expand="full" color="danger">{{ error }}</ion-button>

  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form #authForm="ngForm" *ngIf=" ! isLoading" (ngSubmit)="onSubmit(authForm)">
    <ion-item *ngIf="! isLoginMode">
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="text" required email></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required minlength="6"></ion-input>
    </ion-item>

    <ion-item *ngIf="! isLoginMode">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" color="light" [disabled]="! authForm.valid">
      {{ isLoginMode ? 'Login' : 'Create Account' }}
    </ion-button>

    <ion-item class="ion-text-center">
      <ion-label>Or</ion-label>
    </ion-item>

    <ion-button type="submit" expand="block" color="light" (click)="onSwitchMode()">
      {{ ! isLoginMode ? 'Login' : 'Create Account' }}
    </ion-button>
  </form>
  <div>
    <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
  </div>
</ion-content>
