<div class="backdrop"></div>
<div class="modal-container">

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="closeModal()">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content style="height: 100%;">
      <h1>Production location: {{ passedLocationData.name }}</h1>

      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf="! isLoading" style="overflow-y: auto; height: 100%">
        <div [innerHtml]="locationData.occupation_description"></div>
        <h2>Occupation: {{ locationData.occupation_name }}</h2>
        <h2>Level: {{ locationData.occupation_level }} ({{ locationData.occupation_exp }} exp)</h2>
        <h2>Tool used: {{ locationData.tool_required }} (have: {{ locationData.tool_quantity }})</h2>

        <div *ngIf="locationData.production_lines.available_production_lines !== null">
          <ion-card>
            <ion-card-header>
              Production queue / Ready items
            </ion-card-header>
            <ion-card-content>
              <app-production-queue
                [items]="locationData.ready_items"
                [ready]="true"
              ></app-production-queue>
              <app-production-queue
                [items]="locationData.production_queue"
                [ready]="false"
              ></app-production-queue>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              Available for production
            </ion-card-header>
            <ion-card-content>
              <app-production-lines
                [productionLines]="locationData.production_lines.available_production_lines"
                [available]="true"
              ></app-production-lines>
              <app-production-lines
                *ngIf="locationData.production_lines.next_level_production_lines !== null"
                [productionLines]="locationData.production_lines.next_level_production_lines"
                [available]="false"
              ></app-production-lines>
            </ion-card-content>
          </ion-card>
        </div>


      </div>

    </ion-card-content>
  </ion-card>
</div>
