<div class="backdrop"></div>
<div class="modal-container">

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="closeModal()">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <h1>Production location: {{ passedLocationData.name }}</h1>

      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf="! isLoading" style="overflow-y: auto; height: 300px;">
        <div [innerHtml]="locationData.occupation_description"></div>
        <h2>Occupation: {{ locationData.occupation_name }}</h2>
        <h2>Level: {{ locationData.occupation_level }} ({{ locationData.occupation_exp }} exp)</h2>

        <div *ngIf="locationData.production_lines.available_production_lines !== null">
          <h2>Available products:</h2>
          <app-production-lines
            [productionLines]="locationData.production_lines.available_production_lines"
            [available]="true"
          ></app-production-lines>
        </div>

        <div *ngIf="locationData.production_lines.next_level_production_lines !== null">
          <h2>Available soon:</h2>
          <app-production-lines
            [productionLines]="locationData.production_lines.next_level_production_lines"
            [available]="false"
          ></app-production-lines>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</div>
