
<app-map *ngIf="playerDataOccupiedWith === ''"></app-map>

<app-mining *ngIf="playerDataOccupiedWith === 'mining'"></app-mining>

<app-journey *ngIf="playerDataOccupiedWith === 'journey'"></app-journey>

<app-menu [occupiedWith]="playerDataOccupiedWith"></app-menu>

<app-quick-use-belt></app-quick-use-belt>

<app-mailbox *ngIf="openedModal === 'mailbox'"></app-mailbox>
<app-hero *ngIf="openedModal === 'hero'"></app-hero>
<app-baggage *ngIf="openedModal === 'baggage'"></app-baggage>
<app-quests *ngIf="openedModal === 'quests'"></app-quests>

<app-quest-modal *ngIf="openedQuestModal"></app-quest-modal>
<app-received-badge *ngIf="openedBadgePopup" [receivedBadge]="openedBadgePopup"></app-received-badge>


