
<app-map 
    *ngIf="playerDataOccupiedWith === ''"
    (foundLocation) = "handleFoundLocation($event)"
></app-map>

<app-mining *ngIf="playerDataOccupiedWith === 'mining'"></app-mining>

<app-journey *ngIf="playerDataOccupiedWith === 'journey'"></app-journey>

<app-menu [occupiedWith]="playerDataOccupiedWith"></app-menu>

<app-quick-use-belt></app-quick-use-belt>

<app-mailbox *ngIf="openedModal === 'mailbox'"></app-mailbox>
<app-hero *ngIf="openedModal === 'hero'"></app-hero>
<app-baggage *ngIf="openedModal === 'baggage'"></app-baggage>
<app-quests *ngIf="openedModal === 'quests'"></app-quests>

<app-quest-modal *ngIf="openedQuestModal"></app-quest-modal>
<app-received-badge *ngIf="openedBadgePopup" [receivedBadge]="openedBadgePopup"></app-received-badge>

<app-level-up-hero *ngIf="openedLevelUpHeroPopup" [data]="openedLevelUpHeroPopup"></app-level-up-hero>
<app-level-up-occupation *ngIf="openedLevelUpOccupationPopup" [data]="openedLevelUpOccupationPopup"></app-level-up-occupation>


<!-- MAP RELATED -->

<app-map-location
  *ngIf="openedModal === 'map-location'"
  [passedLocationData]="locationData"
  (mapLocationAction)="mapLocationAction($event)"
></app-map-location>

<app-marketplace
  *ngIf="openedModal === 'marketplace'"
  [passedLocationData]="locationData"
></app-marketplace>

<app-warehouse
  *ngIf="openedModal === 'warehouse'"
  [passedLocationData]="locationData"
></app-warehouse>

<app-map-production-location
  *ngIf="openedModal === 'map-production-location'"
  [passedLocationData]="locationData"
></app-map-production-location>
<!-- (mapLocationAction)="mapLocationAction($event)" -->

<app-shop
  *ngIf="openedModal === 'shop'"
  [passedLocationData]="locationData"
></app-shop>

<app-bank
  *ngIf="openedModal === 'bank'"
  [passedLocationData]="locationData"
></app-bank>

<app-witch
  *ngIf="openedModal === 'witch'"
  [passedLocationData]="locationData"
></app-witch>

<app-weapon-fix
  *ngIf="openedModal === 'weapon-fix'"
  [passedLocationData]="locationData"
></app-weapon-fix>

<app-monster
  *ngIf="openedModal === 'monster'"
  [passedMonsterData]="monsterData"
  (mapLocationAction)="mapLocationAction($event)"
></app-monster>

<app-find
  *ngIf="strollEventFind"
  [strollEventFind]="strollEventFind"
></app-find>

<app-fight
  *ngIf="openedModal === 'fight'"
  [data]="strollEventFight"
></app-fight>
