<ion-toolbar>
  <ion-buttons>

    <ion-button [fill]="source==='baggage' ? 'outline' : 'solid'"
        [color]="source==='baggage' ? 'secondary' : 'primary'"
        [disabled]="source==='baggage'"
        (click)="getSource('baggage')">
      Baggage
    </ion-button>

    <ion-button [fill]="source==='mySale' ? 'outline' : 'solid'"
        [color]="source==='mySale' ? 'secondary' : 'primary'"
        [disabled]="source==='mySale'"
        (click)="getSource('mySale')">
      My Sale
    </ion-button>

    <ion-button [fill]="source==='market' ? 'outline' : 'solid'"
        [color]="source==='market' ? 'secondary' : 'primary'"
        [disabled]="source==='market'"
        (click)="getSource('market')">
      Market
    </ion-button>

  </ion-buttons>
</ion-toolbar>
