#menu-sidebar {
  position: absolute;
  top: 0px;
}

.menu-icon {
  background-position: -14px -305px;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-image: url('../../../assets/graphics/layout/game/plachta_buttony.jpg');
}
