#menu-sidebar {
  position: absolute;
  top: 0px;
}

.menu-icon {
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-image: url('../../../assets/graphics/layout/game/plachta_buttony.jpg');
}

.menu-icon-mailbox {
  background-position: -14px -305px;
}

.menu-icon-baggage {
  background-position: -14px -231px;
}

.menu-icon-quests {
  background-position: -14px -528px;
}

.menu-icon-location {
  background-position: -14px -157px;
}

.menu-icon-quest {
  background-position: -89px -528px;
}

#hero-attributes {
  top:200px;left:20px;background-position:-89px -9px;
}
#hero-attributes:hover {
  background-position:-14px -9px!important
}
