

<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<ion-card *ngFor="let thread of threads" (click)="onThreadSelected(thread.id)"
    [color]="( ! thread.delivered_to_sender && thread.sender_id === 1 ) || ( ! thread.delivered_to_recipient && thread.recipient_id === 1 ) ? 'primary' : ''">
  <ion-card-subtitle class="ion-padding-start">
    <b>{{thread.sender_name}}</b> to <b>{{thread.recipient_name}}</b>
  </ion-card-subtitle>
  <ion-card-content>
    {{thread.subject}}
  </ion-card-content>
</ion-card>

<ion-button *ngFor="let link of links" [disabled]="link.active" (click)="onChangePage(link.label)">
  {{link.label}}
</ion-button>
