#map-location-container {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  //background-color: darkslategray;
  z-index: 99999;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 1000;
}
