<ng-container *ngIf="questsList && questsList.length !== 0; else noQuestsData">
  <div *ngFor="let quest of questsList | keyvalue">
    <h2>{{ quest.value.quest.title }}</h2>
    <i>{{ quest.value.tip }}</i>
    <div *ngIf="quest.value.quest_step_type_id === questTypeOfStart || quest.value.quest_step_type_id === questTypeOfContinue; else questFinished">
      <input type="checkbox"
        id="suspend-quest-{{ quest.value.id }}"
        [checked]="quest.value.suspended"
        (click)="suspendQuest(quest.value.id, ! quest.value.suspended)">
      <label for="suspend-quest-{{ quest.value.id }}">Suspended</label>
    </div>
    <ng-template #questFinished>
      <div>Finished</div>
    </ng-template>
    <hr>
  </div>

</ng-container>

<ng-template #noQuestsData>
  You have no quests started yet.
</ng-template>
