<div class="ion-canvas">
  <canvas #canvas></canvas>
</div>

<div id="location-info"></div>
<div id="hero-info"></div>
<div id="error-info" class="generic-info"></div>
<div id="success-info" class="generic-info"></div>

<app-map-location
  *ngIf="openedModal === 'map-location'"
  [passedLocationData]="locationData"
  (mapLocationAction)="mapLocationAction($event)"
></app-map-location>

<app-marketplace
  *ngIf="openedModal === 'marketplace'"
  [passedLocationData]="locationData"
></app-marketplace>

<app-warehouse
  *ngIf="openedModal === 'warehouse'"
  [passedLocationData]="locationData"
></app-warehouse>

<app-map-production-location
  *ngIf="openedModal === 'map-production-location'"
  [passedLocationData]="locationData"
></app-map-production-location>
<!-- (mapLocationAction)="mapLocationAction($event)" -->

<app-shop
  *ngIf="openedModal === 'shop'"
  [passedLocationData]="locationData"
></app-shop>

<app-bank
  *ngIf="openedModal === 'bank'"
  [passedLocationData]="locationData"
></app-bank>

<app-witch
  *ngIf="openedModal === 'witch'"
  [passedLocationData]="locationData"
></app-witch>

<app-weapon-fix
  *ngIf="openedModal === 'weapon-fix'"
  [passedLocationData]="locationData"
></app-weapon-fix>

<app-monster
  *ngIf="openedModal === 'monster'"
  [passedMonsterData]="monsterData"
  (mapLocationAction)="mapLocationAction($event)"
></app-monster>
