<div class="ion-canvas">
  <canvas #canvas></canvas>
</div>

<div id="location-info"></div>
<div id="player-info"></div>
<div id="error-info"></div>

<app-map-location
  *ngIf="openedModal === 'map-location'"
  [locationData]="locationData"
  (mapLocationAction)="mapLocationAction($event)"
></app-map-location>

<app-map-production-location
  *ngIf="openedModal === 'map-production-location'"
  [passedLocationData]="locationData"
  (mapLocationAction)="mapLocationAction($event)"
></app-map-production-location>
