

<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>


<ion-row *ngFor="let message of threadData">
  <ion-col size="11" [offset]="(message.sender_id === myID) ? 1 : 0">
    <ion-card [class]="(message.sender_id === 1) ? 'ion-text-end': 'ion-text-start'"
        [color]="(message.recipient_id === 1 && message.delivered === null) ? 'primary': ''">
      <ion-card-subtitle class="ion-padding-start ion-padding-end">
        {{message.sender_name}}
      </ion-card-subtitle>
      <ion-card-content>
        {{message.content}}
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>


<form #sendMessageForm="ngForm" *ngIf=" ! isLoading" (ngSubmit)="onSubmit(sendMessageForm)">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="message" name="message" required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button class="ion-margin-top" type="submit" expand="block" color="light" [disabled]="! sendMessageForm.valid">
          Send
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</form>
